// This file gets loaded at the application level and is accessible from all components

$color-primary-blue: #0e83cd;
$color-secondary-blue: #0eb1ff;
$color-primary-blue-hover: #0eb1ff;

$color-inactive-red-hover: #aa0000;
$color-inactive-red: #6f0000;

$color-active-green: #0ecd78;

$color-off-white: #b6b6b6;
$color-std-grey: #424242;
$color--grey: #242424;
$subtle-border: rgba(255, 255, 255, 0.12);

$color-transparent-black: #000000bd;

$master-menu-width: 4.5rem;
$secondary-menu-width: 360px;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em
  ),
  'h5': (
    'size': 1.0625rem
  ),
  'h6': (
    'size': .75rem
  ),
  'subtitle-2': (
    'size': 1rem
  ),
  'overline': (
    'letter-spacing': 0
  )
)